body {
  margin: 0;
  font-family: "Arial";
 

  user-select: none;
}
h2{
  margin-right: 10px;
}

.gray{
  width: 90%;
  margin: 20px;
  background-color: greenyellow;
}

.green{
  width: 90%;
  margin: 20px;
  background-color: lightgray;
}

.blue{
  width: 90%;
  margin: 20px;
  background-color: lightblue;
}

.pink{
  width: 90%;
  margin: 20px;
  background-color: pink;
}

div {
  text-align: center;
}

.hints{
  font-size: 40px;
  padding: 10px;
  box-sizing: border-box;
}

.weekdays,
.days {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}
/* Этот класс должен быть у каждого квадрата */
.day,
.weekday {
  width: 100px;
  height: 100px;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

/* Класс для дня недели */
.weekday {
  background-color: pink;
}

/* Класс для дней месяца */
.current {
  background-color: lightblue;
}

/* Класс для праздничных дней */
.holiday {
  background-color: greenyellow;
}

/* Класс для дат из следующего и предыдущего месяцев */
.other {
  background-color: lightgray;
}

/* Зачёркнутый день */
.done::before {
  content: "";
  position: absolute;
  height: 8px;
  left: 0;
  right: 0;
  background-color: red;
  z-index: 1;

  transform: rotate(-45deg);
}


@media (min-width: 768px) and (max-width: 1200px) {
 

.hints{
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
}


.done::before {
  content: "";
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  background-color: red;
  z-index: 1;

  transform: rotate(-45deg);
}
.day,
.weekday {
  width: 50px;
  height: 50px;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.weekdays,
.days {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}
 
}

@media (max-width: 768px)  {
  h1 {
  text-align: center;
  font-size: 14px;
}
  h2 {
   text-align: center;
  font-size: 17px;
}
.hints{
  font-size: 11px;
 box-sizing: border-box;
}

 .done::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  background-color: red;
  z-index: 1;

  transform: rotate(-45deg);
}
.day,
.weekday {
  width: 22px;
  height: 22px;
  font-size: 13px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.weekdays,
.days {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  max-width: 310px;
  margin: -20px auto;
}
 


}


