body {
  margin: 0;
  font-family: "Arial";
  min-width: 900px;
  
  user-select: none;
}
h2{
  margin-right: 10px;
}

.gray{
  width: 90%;
  margin: 20px;
  background-color: greenyellow;
}

.green{
  width: 90%;
  margin: 20px;
  background-color: lightgray;
}

.blue{
  width: 90%;
  margin: 20px;
  background-color: lightblue;
}

.pink{
  width: 90%;
  margin: 20px;
  background-color: pink;
}

div {
  text-align: center;
}

.weekdays,
.days {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 900px;
}
/* Этот класс должен быть у каждого квадрата */
.day,
.weekday {
  width: 100px;
  height: 100px;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

/* Класс для дня недели */
.weekday {
  background-color: pink;
}

/* Класс для дней месяца */
.current {
  background-color: lightblue;
}

/* Класс для праздничных дней */
.holiday {
  background-color: greenyellow;
}

/* Класс для дат из следующего и предыдущего месяцев */
.other {
  background-color: lightgray;
}

/* Зачёркнутый день */
.done::before {
  content: "";
  position: absolute;
  height: 8px;
  left: 0;
  right: 0;
  background-color: red;
  z-index: 1;

  transform: rotate(-45deg);
}


@media (max-width: 1023px) {
  div {
  text-align: center;

}


.hints{
  font-size: 14px;
  margin-right: 10px;
  margin-top: 20px;
}


.done::before {
  content: "";
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  background-color: red;
  z-index: 1;

  transform: rotate(-45deg);
}
.day,
.weekday {
  width: 50px;
  height: 50px;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
  .weekdays,
.days {
  margin: auto 180px;
  display: flex;
  flex-wrap: wrap;
  
  
  
  
  width: 500px;
}
}



@media (max-width: 800px)   {
  
    h1 {
   margin-left: -190px;
  font-size: 20px;
}
.hints{
  font-size: 19px;
  margin-right: 190px;
  margin-top: 20px;
}

.done::before {
  content: "";
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  background-color: red;
  z-index: 1;

  transform: rotate(-45deg);
}
.day,
.weekday {
  width: 50px;
  height: 50px;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
  .weekdays,
.days {
  margin: auto 100px;
  display: flex;
  flex-wrap: wrap;
  
  
  
  
  width: 500px;
}

}


@media (max-width: 575px)  {
  h1 {
  margin-left: -590px;
  font-size: 14px;
}
.hints{
  font-size: 11px;
  margin-right: 590px;
  margin-top: 20px;
}

 .done::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  background-color: red;
  z-index: 1;

  transform: rotate(-45deg);
}
.day,
.weekday {
  width: 25px;
  height: 25px;
  font-size: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
  .weekdays,
.days {
  margin: auto -10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
  
  
  
  width: 310px;
}


}
